<!DOCTYPE html>
<html>
  <head>
    <%include ../partials/head %>
  </head>
  <body>
    <%include ../partials/nav %>
    <div class="container home home-about">
        <h1>About</h1>
        <p>이 사이트는 <a href="#">MEN</a> 게시판입니다<p>

    </div>
  </body>
</html>
